.checkout-billing-information__use-shipping-address {
    background-color: #eee;
    padding: 10px;
    border-radius: 3px;
}

.checkout-billing-information__content {
    margin-top: 10px;
}

.checkout-billing-information__select-payment-method {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #eee;
}
