@import '../../../../styles/variables.scss';

.admin-orders-update-status__form-item {

    &:not(:first-child) {
        margin-top: 20px;
    }
}

.admin-orders-update-status__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.admin-orders-update-status__button {

    &:not(:first-child) {
        margin-left: 10px;
    }
}

.admin-orders-update-status__error {
    margin-top: 3px;
    color: $color-error;

    & > span {
        color: $color-error;
    }
}
