.account-order-details-page {
    margin: 30px 0 30px 0;
}

.account-order-details-page__loader {
    margin: 30px 0;
}

.account-order-details-page__content {
    margin-top: 15px;
    padding: 10px 30px 30px 30px;
    border: 1px solid #eee;
    border-radius: 3px;
}
