.admin-collections-add-form__item {

    &:not(:first-child) {
        margin-top: 20px;
    }
}

.admin-collections-add-form__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.admin-collections-add-form__button {

    &:not(:first-child) {
        margin-left: 10px;
    }
}
