@import '../../../styles/variables.scss';

.info-page {
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-page__content {
    margin-top: 30px;
}

.info-page__block {

    &:not(:first-child) {
        margin-top: 20px;
    }
}

.info-page__support,
.info-page__shipping,
.info-page__terms-and-conditions {

    a {
        color: $color-primary;
    }

    p {
        margin-top: 15px;
    }

    p, ul {
        font-family: $font-family-body;
        font-size: $font-size-small;
        color: $color-body;
    }
}

.info-page__shipping {

    ul {
        list-style: initial;
        margin: 10px;
        padding: 10px;
    }
}