/*
 * Header
 */

.admin-products-edit__header {
    display: flex;
}

.admin-products-edit__title {
    display: flex;
    align-self: center;
    width: 100%;
}

.admin-products-edit__toolbar {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.admin-products-edit__toolbar-item {
    align-self: center;

    &:not(:first-child) {
        margin-left: 10px;
    }
}

/*
 * Loader
 */

.admin-products-edit__spinner {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*
 * Form
 */

.admin-products-edit__form {
    display: flex;
    margin-top: 30px;
}

.admin-products-edit__left-column {
    width: 70%;
}

.admin-products-edit__right-column {
    width: 30%;
    margin-left: 30px;
}

.admin-products-edit__form-item {

    &:not(:first-child) {
        margin-top: 30px;
    }
}
