@import '../../../styles/variables.scss';

.status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #eeeeee;

    &-primary {
        background: $color-label-primary;
    }

    &-info {
        background: $color-label-info;
    }

    &-success {
        background: $color-label-success;
    }

    &-warning {
        background: $color-label-warning;
    }

    &-error {
        background: $color-label-error;
    }

    &-dark {
        background: $color-label-dark;
    }
}
